name: build-pull-request

on:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    # Don't run the build action twice when pushing to a PR branch.
    if: github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

        # This also verifies the wrapper.
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true

      - name: Build
        run: ./gradlew build
