name: build-publish-commit

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

        # This also verifies the wrapper.
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Build
        run: ./gradlew build

      - name: Publish
        run: ./gradlew publish
        env:
          SIGNING_KEY: "${{ secrets.GPG_SIGNING_KEY }}"
          SIGNING_PASSWORD: "${{ secrets.GPG_SIGNING_PASSWORD }}"
          VOXELPI_REPO_USER: "${{ secrets.VOXELPI_REPO_USER }}"
          VOXELPI_REPO_KEY: "${{ secrets.VOXELPI_REPO_KEY }}"
